$back-color: #00a087;

nav {
position: fixed;
height: 80px;
width: 100%;
background-color: $back-color;
color: #e8fdff;
padding: 0 2em;
z-index: 3;
  img {
    height: 100%;
    margin-right: 10px;
    vertical-align: middle;
  }
  .header {
  @media screen and (max-width: 700px) {
    color: yellow;
  }
      font-size: 2em;
  vertical-align: middle;
  }
}



